{
  "ServiceName": "VNI",
  "DMEProcessing": [  
        {
      "ChunkName": "hmmFwdIf",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/hmmFwdIf.json"
        }
      ]
    },
    {
      "ChunkName": "rtctrlBDEvi",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/rtctrlBDEvi.json"
        }
      ]
    },
    {
      "ChunkName": "ipv4",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/ipv4Addr.json"
        },       
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/ipv4If.json"
        }
      ]
    },
    {
      "ChunkName": "sviIf",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/sviIf.json"
        }
      ]
    },
    {
      "ChunkName": "l2BD",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/l2BD.json"
        }
      ]
    },
    {
      "ChunkName": "nvoEvpnMultisiteBordergw",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/nvoEvpnMultisiteBordergw.json"
        }
      ]
    },
    {
      "ChunkName": "nvoNw",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/nvoNw.json"
        },
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/nvoNwsnvoIngRepl.json"
        }
      ]
    },
    {
      "ChunkName": "bgpInst",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/bgpInst.json"
        }
      ]
    },
    {
      "ChunkName": "l3Inst",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/l3Inst.json"
        }
      ]
    },
    {
      "ChunkName": "bgpDomAf",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/bgpDomAf.json"
        }
      ]
    },
    {
      "ChunkName": "rtmapRule",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/rtmapRule.json"
        }
      ]
    },  
    {
      "ChunkName": "rtctrlRttEntry",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/rtctrlRttEntry.json"
        }
      ]
    },
    {
      "ChunkName": "bgpGr",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/bgpGr.json"
        }
      ]
    },
    {
      "ChunkName": "bgpPathCtrl",
      "Paths": [
        {
          "Path": "../serviceDefinitions/VNI/PathFiles/bgpPathCtrl.json"
        }
      ]
    }
  ],
  "ServiceConstructPath": [
    {
      "ChunkName": "l2BD",
      "KeySName": "vnid",
      "KeySType": "string",
      "KeyDName": "l2BD.accEncap",
      "KeyDType": "string",
      "KeyLink": "direct",
      "MatchType": "partial",
      "CommonKeysList": [
        "l2BD.id",
        "l2BD.accEncap",
        "l2BD.name"
      ],
      "CommonKeysListPrefix": "L2VNI"
    },
    {
      "ChunkName": "sviIf",
      "KeySName": "L2VNI.l2BD.id",
      "KeySType": "string",
      "KeyDName": "sviIf.vlanId",
      "KeyDType": "string",
      "KeyLink": "indirect",
      "MatchType": "full",
      "CommonKeysList": [
        "sviIf.id"
      ],
      "CommonKeysListPrefix": "L2VNI"
    },
    {
      "ChunkName": "rtctrlBDEvi",
      "KeySName": "L2VNI.l2BD.accEncap",
      "KeySType": "string",
      "KeyDName": "rtctrlBDEvi.encap",
      "KeyDType": "string",
      "KeyLink": "indirect",
      "MatchType": "full",
      "CommonKeysList": [],
      "Filter": [{
        "Name": "rtctrlRttP.type",
        "Key": "rtctrlRttP.type"
      }],
      "SplitSearch": [
        {
          "SplitSearchKeys": [
              "rtctrlRttEntry.rtt"
            ],
          "SplitSearchDirectives": [
            {
              "SearchFrom": "rtctrlRttP.type",
              "SearchFor": "rtctrlRttP.type"
            }
          ],
          "SplitSearchKeysPrefix": "L2VNI"
        }
      ]
    },
    {
      "ChunkName": "ipv4",
      "KeySName": "L2VNI.sviIf.id",
      "KeySType": "string",
      "KeyDName": "ipv4If.id",
      "KeyDType": "string",
      "KeyLink": "indirect",
      "MatchType": "full",
      "CommonKeysList": [
        "ipv4Addr.addr",
        "ipv4Addr.tag",
        "ipv4Dom.name"
      ],
      "CommonKeysListPrefix": "L2VNI"
    },
    {
      "ChunkName": "hmmFwdIf",
      "KeySName": "L2VNI.sviIf.id",
      "KeySType": "string",
      "KeyDName": "hmmFwdIf.id",
      "KeyDType": "string",
      "KeyLink": "indirect",
      "MatchType": "full",
      "CommonKeysList": [
        "hmmFwdIf.mode"
      ],
      "CommonKeysListPrefix": "L2VNI"
    },
    {
      "ChunkName": "nvoNw",
      "KeySName": "vnid",
      "KeySType": "string",
      "KeyDName": "nvoNw.vni",
      "KeyDType": "string",
      "KeyLink": "direct",
      "MatchType": "full",
      "CommonKeysList": [
        "nvoNw.vni",
        "nvoNw.multisiteIngRepl",
        "nvoNw.mcastGroup",
        "nvoIngRepl.proto",
        "nvoIngRepl.rn",
        "nvoNw.suppressARP"
      ],
      "CommonKeysListPrefix": "L2VNI"
    },
    {
      "ChunkName": "l3Inst",
      "KeySName": "vrf",
      "KeySType": "string",
      "KeyDName": "l3Inst.name",
      "KeyDType": "string",
      "KeyLink": "direct",
      "MatchType": "full",
      "CommonKeysList": [
        "l3Inst.encap"
      ],
      "CommonKeysListPrefix": "L3VNI"
    },
    {
      "ChunkName": "l2BD",
      "KeySName": "L3VNI.l3Inst.encap",
      "KeySType": "string",
      "KeyDName": "l2BD.accEncap",
      "KeyDType": "string",
      "KeyLink": "indirect",
      "MatchType": "full",
      "CommonKeysList": [
        "l2BD.id"
      ],
      "CommonKeysListPrefix": "L3VNI"
    },
    {
      "ChunkName": "sviIf",
      "KeySName": "L3VNI.l2BD.id",
      "KeySType": "string",
      "KeyDName": "sviIf.vlanId",
      "KeyDType": "string",
      "KeyLink": "indirect",
      "MatchType": "full",
      "CommonKeysList": [
        "sviIf.id"
      ],
      "CommonKeysListPrefix": "L3VNI"
    },
    {
      "ChunkName": "ipv4",
      "KeySName": "L3VNI.sviIf.id",
      "KeySType": "string",
      "KeyDName": "ipv4If.id",
      "KeyDType": "string",
      "KeyLink": "indirect",
      "MatchType": "full",
      "CommonKeysList": [
        "ipv4If.forward"
      ],
      "CommonKeysListPrefix": "L3VNI"
    },
    {
      "ChunkName": "nvoNw",
      "KeySName": "L3VNI.l3Inst.encap",
      "KeySType": "string",
      "KeyDName": "nvoNw.vni",
      "KeyDType": "string",
      "KeyLink": "indirect",
      "MatchType": "partial",
      "CommonKeysList": [
        "nvoNw.associateVrfFlag"
      ],
      "CommonKeysListPrefix": "L3VNI"
    },
    {
      "ChunkName": "bgpDomAf",
      "KeySName": "vrf",
      "KeySType": "string",
      "KeyDName": "bgpDom.name",
      "KeyDType": "string",
      "KeyLink": "direct",
      "MatchType": "full",
      "CommonKeysList": [
        "bgpDomAf.maxEcmp"
        ],
      "CommonKeysListPrefix": "L3VNI",
      "Filter": [{
        "Name": "bgpInterLeakP.proto",
        "Key": "bgpInterLeakP.proto"
      }],
      "SplitSearch": [
        {
          "SplitSearchKeys": [
              "bgpInterLeakP.rtMap"
            ],
          "SplitSearchDirectives": [
            {
              "SearchFrom": "bgpInterLeakP.proto",
              "SearchFor": "bgpInterLeakP.proto"
            }
          ],
          "SplitSearchKeysPrefix": "L3VNI"
        }
      ]
    },
    {
      "ChunkName": "ipv4",
      "KeySName": "vrf",
      "KeySType": "string",
      "KeyDName": "ipv4Dom.name",
      "KeyDType": "string",
      "KeyLink": "direct",
      "MatchType": "full",
      "CommonKeysList": [],
      "CommonKeysListPrefix": "",
      "Filter": [{
        "Name": "ipv4If.id",
        "Key": "ipv4If.id"
      }],
      "SplitSearch": [
        {
          "SplitSearchKeys": [
              "ipv4Addr.addr"
            ],
          "SplitSearchDirectives": [
            {
              "SearchFrom": "ipv4If.id",
              "SearchFor": "ipv4If.id"
            }
          ],
          "SplitSearchKeysPrefix": "L3VNI"
        }
      ]
    }, 
    {
      "ChunkName": "rtmapRule",
      "KeySName": "L3VNI.bgpInterLeakP.rtMap.direct",
      "KeySType": "string",
      "KeyDName": "rtmapRule.name",
      "KeyDType": "string",
      "KeyLink": "indirect",
      "MatchType": "partial",
      "CommonKeysList": [
        "rtmapMatchRtTag.tag"
      ],
      "CommonKeysListPrefix": "L3VNI"
    },
    {
      "ChunkName": "rtctrlRttEntry",
      "KeySName": "vrf",
      "KeySType": "string",
      "KeyDName": "l3Inst.name",
      "KeyDType": "string",
      "KeyLink": "direct",
      "MatchType": "full",
      "CommonKeysList": [],
      "Filter": [
          {
            "Name": "rtctrlRttP.type",
            "Key": "rtctrlRttP.type"
          },
          {
            "Name": "rtctrlAfCtrl.type",
            "Key": "rtctrlAfCtrl.type"
          }
        ],
      "SplitSearch": [
        {
            "SplitSearchKeys": [
                    "rtctrlRttEntry.rtt"
                ],
            "SplitSearchDirectives": [
                {
                    "SearchFrom": "rtctrlRttP.type",
                    "SearchFor": "rtctrlRttP.type"
                },
                {
                    "SearchFrom": "rtctrlAfCtrl.type",
                    "SearchFor": "rtctrlAfCtrl.type"
                }
            ],
            "SplitSearchKeysPrefix": "L3VNI"
        }
     ]
    },
    {
      "ChunkName": "bgpGr",
      "KeySName": "vrf",
      "KeySType": "string",
      "KeyDName": "bgpDom.name",
      "KeyDType": "string",
      "KeyLink": "direct",
      "MatchType": "full",
      "CommonKeysList": [
        "bgpGr.staleIntvl"
      ],
      "CommonKeysListPrefix": "L3VNI"
    },
    {
      "ChunkName": "bgpPathCtrl",
      "KeySName": "vrf",
      "KeySType": "string",
      "KeyDName": "bgpDom.name",
      "KeyDType": "string",
      "KeyLink": "direct",
      "MatchType": "full",
      "CommonKeysList": [
        "bgpPathCtrl.asPathMultipathRelax"
      ],
      "CommonKeysListPrefix": "L3VNI"
    },
    {
      "ChunkName": "bgpInst",
      "KeySName": "no-match",
      "KeySType": "string",
      "KeyDName": "no-match",
      "KeyDType": "string",
      "KeyLink": "no-match",
      "MatchType": "no-match",
      "CommonKeysList": [
        "bgpInst.asn"
      ],
      "CommonKeysListPrefix": "L3VNI"
    }
  ],
  "ServiceComponents": [
    {
      "ComponentName": "L2VNI",
      "ComponentKeys": [
        {
          "Name": "L2VNI.l2BD.accEncap",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L2VNI.rtctrlRttEntry.rtt.export",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L2VNI.rtctrlRttEntry.rtt.import",
          "Value": "anyValue",
          "MatchType": "equal"
        }
      ]
    },
    {
      "ComponentName": "L3VNI-AC",
      "ComponentKeys": [
        {
          "Name": "L2VNI.sviIf.id",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L2VNI.ipv4Addr.addr",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L2VNI.hmmFwdIf.mode",
          "Value": "anycastGW",
          "MatchType": "equal"
        }, 
        {
          "Name": "L3VNI.ipv4If.forward",
          "Value": "enabled",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.l2BD.id",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.l3Inst.encap",
          "Value": "anyValue",
          "MatchType": "subkey"
        },
        {
          "Name": "L3VNI.sviIf.id",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.bgpInterLeakP.rtMap.direct",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.rtmapMatchRtTag.tag",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.bgpPathCtrl.asPathMultipathRelax",
          "Value": "enabled",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.bgpGr.staleIntvl",
          "Value": "1800",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.rtctrlRttEntry.rtt.export.ipv4-ucast",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.rtctrlRttEntry.rtt.export.l2vpn-evpn",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.rtctrlRttEntry.rtt.import.ipv4-ucast",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.rtctrlRttEntry.rtt.import.l2vpn-evpn",
          "Value": "anyValue",
          "MatchType": "equal"
        }
      ]
    },
    {
      "ComponentName": "L3VNI-AG",
      "ComponentKeys": [
        {
          "Name": "L3VNI.ipv4If.forward",
          "Value": "enabled",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.l2BD.id",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.l3Inst.encap",
          "Value": "anyValue",
          "MatchType": "equal"
        }, 
        {
          "Name": "L3VNI.nvoNw.associateVrfFlag",
          "Value": "yes",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.sviIf.id",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.ipv4Addr.addr.lo",
          "Value": "anyValue",
          "MatchType": "subkey"
        },
        {
          "Name": "L3VNI.bgpDomAf.maxEcmp",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.bgpInterLeakP.rtMap.direct",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.rtmapMatchRtTag.tag",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.bgpPathCtrl.asPathMultipathRelax",
          "Value": "enabled",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.bgpGr.staleIntvl",
          "Value": "1800",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.rtctrlRttEntry.rtt.export.ipv4-ucast",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.rtctrlRttEntry.rtt.export.l2vpn-evpn",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.rtctrlRttEntry.rtt.import.ipv4-ucast",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L3VNI.rtctrlRttEntry.rtt.import.l2vpn-evpn",
          "Value": "anyValue",
          "MatchType": "equal"
        }
      ]
    },
    {
      "ComponentName": "AGW",
      "ComponentKeys": [
        {
          "Name": "L2VNI.ipv4Addr.addr",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "L2VNI.hmmFwdIf.mode",
          "Value": "anycastGW",
          "MatchType": "equal"
        }
      ]
    },
    {
      "ComponentName": "ARP-Suppress",
      "ComponentKeys": [
        {
          "Name": "L2VNI.nvoNw.suppressARP",
          "Value": "enabled",
          "MatchType": "equal"
        }
      ]
    },
    {
      "ComponentName": "IR",
      "ComponentKeys": [
        {
          "Name": "L2VNI.nvoIngRepl.rn",
          "Value": "anyValue",
          "MatchType": "equal"
        }
      ]
    },
    {
      "ComponentName": "PIM",
      "ComponentKeys": [
        {
          "Name": "L2VNI.nvoNw.mcastGroup",
          "Value": "0.0.0.0",
          "MatchType": "not-equal"
        }
      ]
    },
    {
      "ComponentName": "MS-IR",
      "ComponentKeys": [
        {
          "Name": "L2VNI.nvoNw.multisiteIngRepl",
          "Value": "enable",
          "MatchType": "equal"
        }
      ]
    }
  ]
}