<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type Submit</title>
</head>
<form action="/processTemplate" method="POST">
    <label for="serviceName">ServiceName:</label>
    <input type="text" name="serviceName" placeholder="Type ServiceName"><br>
    <label for="vars">Vars:</label>
    <textarea name="vars" cols="40" rows="5"></textarea><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
