<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type Submit</title>
</head>
<form action="getComplianceReport">
    <select id="deviceName" name="deviceName">
        <option value="">--Please choose an option--</option>
        {{range $i, $v := .}}
            <option value="{{$v}}">{{$v}}</option>
        {{end}}
    </select>
    <input type="submit" value="getComplianceReport" />
</form>
</body>
</html>
