<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<form action="getRawData" method="POST">
    <label for="getRawData">Get raw DME from Inventory devices</label>
    <input type="submit" id="getRawData" value="Execute" />
</form>
<hr>
<form action="loadInventory">
    <label for="loadInventory">Load Inventory </label>
    <input type="submit" id="loadInventory" value="Execute" />
</form>
<hr>
<form action="dropInventory" method="POST">
    <label for="getRawData">Drop Inventory</label>
    <input type="submit" id="dropInventory" value="Execute" />
</form>
<hr>
<form action="loadServiceNames">
    <label for="getRawData">Load service names</label>
    <input type="submit" id="loadServiceNames" value="Execute" />
</form>
<hr>
<form action="getActualFootprint">
    <label for="getActualFootprint">Get actual footprint</label>
    <input type="submit" id="getActualFootprint" value="Execute" />
</form>
<hr>
<form action="getActualDeviceFootprint">
    <label for="serviceName">Show actual device footprint</label>
    <select id="serviceName" name="serviceName">
        <option value="">--Please choose an option--</option>
        {{range $i, $v := .ServiceList}}
            {{$value := index $v "ServiceName"}}
            <option value="{{$value}}">{{$value}}</option>
        {{end}}
    </select>
    <select id="hostName" name="hostName">
        <option value="">--Please choose an option--</option>
        {{range $i, $v := .Inventory}}
            {{$value := index $v "HostName"}}
            <option value="{{$value}}">{{$value}}</option>
        {{end}}
    </select>
    <input type="submit" value="Execute" />
</form>
<hr>
<form action="getActualServiceFootprint">
    <label for="serviceName">Show actual service footprint</label>
    <select id="serviceName" name="serviceName">
        <option value="">--Please choose an option--</option>
        {{range $i, $v := .ServiceList}}
            {{$value := index $v "ServiceName"}}
            <option value="{{$value}}">{{$value}}</option>
        {{end}}
    </select>
    <select id="hostName" name="hostName">
        <option value="">--Please choose an option--</option>
        {{range $i, $v := .Inventory}}
            {{$value := index $v "HostName"}}
            <option value="{{$value}}">{{$value}}</option>
        {{end}}
    </select>
    <input type="submit" value="Execute" />
</form>
<hr>
<form action="getCompianceData">
    <label for="getCompianceData">Construct templated footprint</label>
    <input type="submit" id="getCompianceData" value="Enter vars" />
</form>
<hr>
<form action="getHostnameForCompianceReport">
    <label for="serviceName">Show complience report for service</label>
    <select id="serviceName" name="serviceName">
        <option value="">--Please choose an option--</option>
        {{range $i, $v := .ServiceList}}
            {{$value := index $v "ServiceName"}}
            <option value="{{$value}}">{{$value}}</option>
        {{end}}
    </select>
    <input type="submit" value="Execute" />
</form>
<hr>
</body>
</html>
