<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type Submit</title>
</head>
<form action="/pushInventoryToMongo" method="POST">
    <label for="inventory">Inventory:</label>
    <textarea name="inventory" cols="40" rows="5"></textarea><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
